sistema_gestao_energia.zip filter=lfs diff=lfs merge=lfs -text
sistema_gestao_energia_sqlite.zip filter=lfs diff=lfs merge=lfs -text
sistema_gestao_energia_sqlite_corrigido.zip filter=lfs diff=lfs merge=lfs -text
