asgiref==3.10.0
Django==5.2.7
djangorestframework==3.16.1
python-decouple==3.8
sqlparse==0.5.3
tzdata==2025.2
django
django-filter
djangorestframework
pillow
psycopg2-binary
python-decouple
reportlab
Pillow==10.4.0
django
django-filter
djangorestframework
pillow
psycopg2-binary
python-decouple
reportlab
django
django-filter
djangorestframework
pillow
psycopg2-binary
python-decouple
reportlab
django
django-filter
djangorestframework
pillow
psycopg2-binary
python-decouple
reportlab
django
django-filter
djangorestframework
pillow
psycopg2-binary
python-decouple
reportlab
openpyxl
